* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mitr", sans-serif;
  font-weight: 600;
}

body {
  background: rgb(0, 21, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ---------CSS HEADER---------- */

.btn_help {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0px 25px 0px 25px;
}

.help {
  width: 25px;
  height: 25px;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 48px;  
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

/* ---------CSS inputs and keyboard---------- */

.container_input {
  display: flex;
  margin-bottom: 16px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 32px;
  margin: 0px 5px 0px 5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.048);  
  color: white;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  flex-wrap: wrap;
}
.container_letter {
  margin: 5px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 45px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
  color: rgb(0, 21, 53);
  margin: 2px;
}

.delete {
  height: 45px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(163, 0, 0);
  cursor: pointer;
}

.enter {
  height: 45px;
  width: 60px;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(3, 102, 0);
  
  cursor: pointer;
}
.correct{  
  height: 32px;
}
#A{
  margin-left: 10px;
}
#Q{
  margin-left: 15px;
}
#right{
  color: rgb(0, 192, 16);
}
#wrong{
  color: rgb(206, 0, 0)
}
#exist{
  color: white
}

@media only screen and (min-width: 740px){
  
.btn_help {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0px 25px 0px 25px;
}

.help {
  width: 25px;
  height: 25px;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 48px;  
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
}

/* ---------CSS inputs and keyboard---------- */

.container_input {
  display: flex;
  margin-bottom: 16px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 38px;
  margin: 0px 5px 0px 5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.048);  
  color: rgb(255, 253, 254);
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  flex-wrap: wrap;
}
.container_letter {
  margin: 5px;
}

.letter {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 28px;
  color: rgb(0, 21, 53);
  margin: 5px;
  border: 2px solid rgb(255, 255, 255)
}

.delete {
  height: 60px;
  width: 70px;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  font-size: 28px;
  color: rgb(0, 35, 192);
  cursor: pointer;
}

.enter {
  height: 60px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  font-size: 28px;
  color: rgb(0, 35, 192);
  
  cursor: pointer;
}
.correct{  
  height: 32px;
}
#right{
  color: white;
}
#wrong{
  color: white
}
}